<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @menu.title %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @menu.picture %>
</p>

<p>
  <strong>Address:</strong>
  <%= @menu.address %>
</p>

<p>
  <strong>Appetizer 1:</strong>
  <%= @menu.appetizer_1 %>
</p>

<p>
  <strong>Appetizer 2:</strong>
  <%= @menu.appetizer_2 %>
</p>

<p>
  <strong>Appetizer 3:</strong>
  <%= @menu.appetizer_3 %>
</p>

<p>
  <strong>Appetizer 4:</strong>
  <%= @menu.appetizer_4 %>
</p>

<p>
  <strong>Appetizer 5:</strong>
  <%= @menu.appetizer_5 %>
</p>

<p>
  <strong>Appetizer 6:</strong>
  <%= @menu.appetizer_6 %>
</p>

<p>
  <strong>Appetizer 7:</strong>
  <%= @menu.appetizer_7 %>
</p>

<p>
  <strong>Appetizer 8:</strong>
  <%= @menu.appetizer_8 %>
</p>

<p>
  <strong>Maincourse 1:</strong>
  <%= @menu.maincourse_1 %>
</p>

<p>
  <strong>Maincourse 2:</strong>
  <%= @menu.maincourse_2 %>
</p>

<p>
  <strong>Maincourse 3:</strong>
  <%= @menu.maincourse_3 %>
</p>

<p>
  <strong>Maincourse 4:</strong>
  <%= @menu.maincourse_4 %>
</p>

<p>
  <strong>Maincourse 5:</strong>
  <%= @menu.maincourse_5 %>
</p>

<p>
  <strong>Maincourse 6:</strong>
  <%= @menu.maincourse_6 %>
</p>

<p>
  <strong>Maincourse 7:</strong>
  <%= @menu.maincourse_7 %>
</p>

<p>
  <strong>Maincourse 8:</strong>
  <%= @menu.maincourse_8 %>
</p>

<p>
  <strong>Maincourse 9:</strong>
  <%= @menu.maincourse_9 %>
</p>

<p>
  <strong>Maincourse 10:</strong>
  <%= @menu.maincourse_10 %>
</p>

<p>
  <strong>Maincourse 11:</strong>
  <%= @menu.maincourse_11 %>
</p>

<p>
  <strong>Maincourse 12:</strong>
  <%= @menu.maincourse_12 %>
</p>

<p>
  <strong>Maincourse 13:</strong>
  <%= @menu.maincourse_13 %>
</p>

<p>
  <strong>Maincourse 14:</strong>
  <%= @menu.maincourse_14 %>
</p>

<p>
  <strong>Maincourse 15:</strong>
  <%= @menu.maincourse_15 %>
</p>

<p>
  <strong>Dessert 1:</strong>
  <%= @menu.dessert_1 %>
</p>

<p>
  <strong>Dessert 2:</strong>
  <%= @menu.dessert_2 %>
</p>

<p>
  <strong>Dessert 3:</strong>
  <%= @menu.dessert_3 %>
</p>

<p>
  <strong>Dessert 4:</strong>
  <%= @menu.dessert_4 %>
</p>

<p>
  <strong>Dessert 5:</strong>
  <%= @menu.dessert_5 %>
</p>

<p>
  <strong>Dessert 6:</strong>
  <%= @menu.dessert_6 %>
</p>

<p>
  <strong>Dessert 7:</strong>
  <%= @menu.dessert_7 %>
</p>

<p>
  <strong>Dessert 8:</strong>
  <%= @menu.dessert_8 %>
</p>

<p>
  <strong>Dessert 9:</strong>
  <%= @menu.dessert_9 %>
</p>

<p>
  <strong>Dessert 10:</strong>
  <%= @menu.dessert_10 %>
</p>

<p>
  <strong>Drinks 1:</strong>
  <%= @menu.drinks_1 %>
</p>

<p>
  <strong>Drinks 2:</strong>
  <%= @menu.drinks_2 %>
</p>

<p>
  <strong>Drinks 3:</strong>
  <%= @menu.drinks_3 %>
</p>

<p>
  <strong>Drinks 4:</strong>
  <%= @menu.drinks_4 %>
</p>

<p>
  <strong>Drinks 5:</strong>
  <%= @menu.drinks_5 %>
</p>

<p>
  <strong>Drinks 6:</strong>
  <%= @menu.drinks_6 %>
</p>

<p>
  <strong>Drinks 7:</strong>
  <%= @menu.drinks_7 %>
</p>

<p>
  <strong>Drinks 8:</strong>
  <%= @menu.drinks_8 %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
