<legend>Personal Info</legend>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :FirstName %>
      <br>
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :LastName %>
      <br>
      <%= f.text_field :lname %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :dob %>
      <br/>
      <%= f.text_field :dob, :id => :datepicker %>
    </div>


    <div class="field">
      <%= f.label :Gender %>
      <br/>
      <%= f.select :gender, ["Male", "Female"] %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <br>
      <%= f.text_field :number %>
    </div>
	
	
	   <div class="field">
      <%= f.label :paymentMethod %>
      <br>
      <%= f.select :moneyinfo_id, ["Visa", "Debit Card", "Master Card"] %>
    </div>
	


      <%= f.submit "Sign Up" %>
    </div>


<% end %>

