<%= form_for(@restaurant) do |f| %>
    <% if @restaurant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
          <ul>
            <% @restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :picture %>
      <br>
      <%= f.text_field :picture %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <br>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :latitude %>
      <br>
      <%= f.text_field :latitude %>
    </div>

    <div class="field">
      <%= f.label :longitude %>
      <br>
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :lowprice %>
      <br>
      <%= f.number_field :lowprice %>
    </div>
    <div class="field">
      <%= f.label :highprice %>
      <br>
      <%= f.number_field :highprice %>
    </div>
    <div class="field">
      <%= f.label :menu %>
      <br>
      <%#= f.text_field :menu %>
    </div>
    <% f.object.menu ||= Menu.new %>
    <%= f.fields_for :menu do |mf| %>
        <%= mf.text_field :title, :placeholder => 'Title' %>
        <br/>
        <%= mf.text_field :appetizer_1, :placeholder => 'Appetizer_1' %>
        <%= mf.text_field :appetizer_2, :placeholder => 'Appetizer_2' %>
        <%= mf.text_field :appetizer_3, :placeholder => 'Appetizer_3' %>
        <%= mf.text_field :maincourse_1, :placeholder => 'Maincourse_1' %>
        <%= mf.text_field :maincourse_2, :placeholder => 'Maincourse_2' %>
        <%= mf.text_field :maincourse_3, :placeholder => 'Maincourse_3' %>
        <%= mf.text_field :dessert_1, :placeholder => 'Dessert_1' %>
        <%= mf.text_field :dessert_2, :placeholder => 'Dessert_2' %>
        <%= mf.text_field :dessert_3, :placeholder => 'Dessert_3' %>
        <%= mf.text_field :drinks_1, :placeholder => 'Drinks_1' %>
        <%= mf.text_field :drinks_2, :placeholder => 'Drinks_2' %>
        <%= mf.text_field :drinks_3, :placeholder => 'Drinks_3' %>
    <% end %>



    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
