<p id="notice"><%= notice %></p>

<p>
  <strong>Cateogyr:</strong>
  <%= @item.cateogyr %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @item.manufacturer %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @item.picture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
